* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    background-color: #F7FAFD;
    @import url('https://fonts.googleapis.com/css2? family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

}
body{
    font-family: 'Open Sans', sans-serif;
}
.barra_navegacion {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 30px 10px;
    
    
}
.menu_horizontal {
    
    width: 85%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    font-family:sans-serif;
    gap: 2em;
    font-size: 14px;
    font-weight: bold;
}

.img_logo{
    width: 6em;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}


.img_logo{
    display: flex;
     flex-wrap: wrap;
     position: absolute;
     right: 40em;
     width: 7em;     
} 
.flecha_abajo{
    width: 9px;
}

header ul li, a {
    text-decoration: none;
    list-style: none;
}

.menu_vertical {   
    position: absolute;
    display: none;
    width: 200px;
    padding: 20px 20px 15px 20px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.952);
    border: 1px  ;
    -webkit-box-shadow: -1px 3px 5px 0px rgba(168,168,168,1);
-moz-box-shadow: -1px 3px 5px 0px rgba(168,168,168,1);
box-shadow: -1px 3px 5px 0px rgba(168,168,168,1);   
}


.menu_horizontal li:hover .menu_vertical{
    display: block;
    box-shadow: whitesmoke;
}
a:hover{
    color: #ff556e;
 }
 li:hover {
    color: #ff556e;
 }

nav button {
    background-color: white;
    font-weight: bolder;
    color: #ff556e;
    border: solid 2px rgba(255, 0, 0, 0.658);
    border-radius: 18px;
    padding: 10px 20px;
    width: 140px;
}
nav button:hover{
    color: white;
    background-color: #ff556e;
    border-radius: #ff556e;
 }